/**
 * dark-blue 主题下的 Element Plus CSS 变量
 * 在此查阅所有可自定义的变量：https://github.com/element-plus/element-plus/blob/dev/packages/theme-chalk/src/common/var.scss
 * 也可以打开浏览器控制台选择元素，查看要覆盖的变量名
 */

html.dark {
  /* search 全局 */
  --search-bg-color: #1d1e1f;
  --v3-header-bg-color: #1f1f1f;
  --v3-body-bg-color: #000;
  --v3-menu-item-selected-bg-color: #1d1e1f;
}
