.ant-card {
  background-color: #000;
}

.ant-btn {
  color: #fff;
}

.ant-collapse>.ant-collapse-item >.ant-collapse-header {
  color: #fff;
}

.ant-empty {
  color: #fff;
}

.ant-tabs .ant-tabs-ink-bar {
  background: #fff;
}

.ant-tabs-tab .ant-tabs-tab-btn {
  color: #fff !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
}

.ant-switch {
  background-color: #4C4D4F !important;
}

.ant-input {
  background-color: transparent !important;
  color: #fff !important;
}

.attribute-style-box .attribute-seeting-content-item .label {
  color: #fff !important;
}

.ant-drawer-content {
  background: #141414;
}

.dragArea {
  color: #fff;
}