NODE_ENV=production
EXPRESS_PORT=9002
EXPRESS_NAME=micro

# mysql
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=micro_adm


# redis配置
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=''

# 0 关闭 1开启
IS_CREATE_PROJECT_OPEN=0

# 七牛云配置
IS_UPDATE_AVATAR_OPEN=0
QINIU_ACCESS_KEY=your_access_key
QINIU_SECRET_KEY=your_secret_key
QINIU_BUCKET=your_bucket
QINIU_DOMAIN=your_domain