
.ant-btn {
  color: #fff;
}

.ant-drawer-content {
  background: #141414;
}

.dragArea {
  color: #fff;
}

.setting-panel {
  .label {
    color: #fff;
    line-height: 30px;
    min-width: 48px;
    white-space: nowrap;
  }
}

body, a, span {
  color: #fff;
}